APP_NAME=Ylmz
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=demo
DB_USER=root
DB_PASS=

CACHE_DRIVER=file
CACHE_PATH=runtime/cache

LOG_DRIVER=file
LOG_PATH=runtime/log

TWIG_CACHE=runtime/twig
