# Composer
/vendor/
composer.phar

# Environment
.env

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Documentation
/doc/

# Runtime (logs, cache, sessions, etc.)
/runtime/*
!/runtime/.gitignore

# Uploads
/public/uploads/*
!/public/uploads/.gitignore
